body {
  font-family: 'Open Sans', sans-serif !important;
  background: #E1F2FE;
}

/* navbar */
.navbar {
  background: #98D2EB;
  height: 80px;
}

.navbar-brand a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding-right: 170px;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.navbar-nav a {
  color: white !important;
}

.navbar-nav button {
  background: none;
  color: black;
  /* background: #F4A261; */
  border: none;
  margin-right: 10px;
}

/* nav login signup */
.ml-auto .btn {
  background: #E1F2FE;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 5px;
  transition: 2000;
  letter-spacing: 0.15em;
}

.navbar .form-inline button:hover,
.ml-auto .btn:hover {
  background: #7480f5;
  transform: scale(1.1);
}

.navbar-collapse .collapse .show {
  z-index: 1000;
}

.navbar .form-inline input {
  width: 250px;
  font-size: 0.9em;
  margin-right: 15px;
}

.navbar .form-inline button {
  border: none;
  color: black;
  background: #E1F2FE;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 5px;
  transition: 2000;
}



/* carousel */
/* .carousel {
  height: 500px;
} */

.carousel img {
  height: 800px !important;
}

.carousel-indicators {
  padding-bottom: 150px;
}

/* footer */
.footer {
  /* position: relative; */
  margin-top: 200px;
  height: 200px;
  left: 0px;
  right: 0;
  bottom: 0px;
  background: #49392C;
  padding: 67.4px 568px 24.47px 568px;
  color: white;
  text-align: center;
}

/* card */
.movie-by-genre a {
  text-decoration: none !important;
  color: black;
}

.card {
  min-height: 550px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  border-radius: 5px;
  transition: all 0.6s;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2)
}

.card-img-top {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  background: #B2B1CF;
  color: black;
  border-radius: 0 0 5px 5px;
}

.card-title {
  margin: auto;
  font-weight: bold;
  margin-bottom: 15px;
}

/* button show by */
.show-by h1 {
  margin-top: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

.show-by .btn {
  border: none;
  color: black;
  background: #98D2EB;
  margin-right: 12px;
  margin-bottom: 10px;
  transition: all .4s;
  letter-spacing: 0.1em;
}

.show-by .btn:hover {
  transform: translateY(-6px);
  background: #B2B1CF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.show-by .aktip {
  cursor: not-allowed;
  pointer-events: none;
  font-weight: bold;
  background: #B2B1CF;
}

.movie-by-genre {
  margin-top: 48px;

}

/* pagination */
#page {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 72px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.active>a {
  color: white;
  background-color: #5A4181 !Important;
  border: solid 1px #5A4181 !Important;
}

.pagination>.active>a:hover {
  background-color: #5A4181 !Important;
  border: solid 1px #5A4181;
}

.page-item {
  padding: 5px;
}



/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: column;
  /* position: relative;
  right: 200px; */
  width: 700px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  text-align: left;
  padding-right: 24px;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  text-align: left;
}

.images .img {
  width: 100px;
  height: 100px;
}

/* detail movie */
.main-content {
  width: 100%;
  height: 1100px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

/* .container {
  max-width: 1000px;
  width: 100%;
} */

.container .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  color: black;
  margin-top: 72px;
}

.container .content img {
  width: 100%;
  height: auto;
  /* filter: brightness(50%); */
}

.container .content-detail {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-left: 58px;
  /* position: absolute;
  align-items: flex-start; */
}

.container .content-detail h4 {
  margin-top: 12px;
}

.container .content-detail p {
  margin-top: 12px;
}

.button {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.button button {
  margin-right: 24px;
  letter-spacing: 0.1em;
}

.movie-badge {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.movie-badge .button-badge{
  display: flex;
  flex-direction: row;
}

.movie-badge .button-badge .badge{
  padding: 8px 16px;
  margin-right: 26px;
}

.movie-badge .button-badge .badge a{
  color:grey;
}

.movie-badge .button-badge .badge:hover{
  background: #3F7D7Aff;;
}

/* Overview */
.trailer {
  margin-top: 18px;
}

.trailer h1 {
  text-shadow: 3px 2px 1px grey;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.trailer h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #A7AFB2;
  margin: 14px;
  margin-left: 10px;
}

.synopsis h1{
  margin-bottom: 20px;
}

.synopsis p{
  text-align: justify;
  margin-bottom: 32px;
}

.movie-info h1{
  margin-bottom: 36px;
}

/* Character */
.character {
  margin-top: 18px;
}

/* Review */
.review {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.review b {
  margin-bottom: 10px;
}

.review p {
  margin-top: 10px;
}

.review .form-control {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review .send {
  margin-bottom: 14px;
}

.review .load-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 320px;
}